.game_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game_field {

}

td {
    width: 30px;
    height: 30px;
    /*border: 1px solid black;*/
    background: black;
}

/*animation-name: myAnimation;*/
/*animation-duration: 2s;*/

@keyframes myAnimation {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

/*.first::before {*/
/*content: "";*/
/*float: left;*/
/*width: 50px;*/
/*height: 50px;*/
/*background: url("images/sprites.png") 0 0 no-repeat;*/
/*}*/

.tank_left {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') -60px 0 no-repeat;
}

.tank_right {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') -180px 0 no-repeat;
}

.tank_up {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') 0 0 no-repeat;

}

.tank_down {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') -120px 0 no-repeat;
}

.enemy_left {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') -300px 0 no-repeat;
}

.enemy_right {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') -420px 0 no-repeat;
}

.enemy_up {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') -240px 0 no-repeat;
}

.enemy_down {
    width: 30px;
    height: 30px;
    background: url('image/sprites.png') -360px 0 no-repeat;
}

/*.enemy, .enemy1 {*/
/*width: 30px;*/
/*height: 30px;*/
/*background: url('image/sprites.png') no-repeat;*/

/*}*/

.start_game {
    width: 100px;
    height: 30px;
    align-items: center;
}

.bullet {
    width: 30px;
    height: 30px;
    background: black;
}

.bullet_left {
    width: 15px;
    height: 15px;
    margin: 7.5px;
    background: url('image/sprites.png') -615px -185px no-repeat;
}

.bullet_right {
    width: 15px;
    height: 15px;
    margin: 7.5px;
    background: url('image/sprites.png') -645px -185px no-repeat;
}

.bullet_up {
    width: 15px;
    height: 15px;
    margin: 7.5px;
    background: url('image/sprites.png') -602px -185px no-repeat;
}

.bullet_down {
    width: 15px;
    height: 15px;
    margin: 7.5px;
    background: url('image/sprites.png') -632px -185px no-repeat;
}
